<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}
  Технологии
{% endblock %}
{% block content %}
  {% comment %}
    Колонки с отступом сверху и снизу
  {% endcomment %}
  <div class="row">
    <h1>О проекте</h1>
    {% comment %}
      Боковой блок со списком технологий
      Займет всю ширину блока на мобильном
      и 25% при размерах экрана ≥768px
    {% endcomment %}
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    {% comment %}
      Статья
      Займет всю ширину блока на мобильном
      и 75% при размерах экрана ≥768px
    {% endcomment %}
    <article class="col-12 col-md-9">
      <p><b><h2>Социальная сеть блогеров Yatube</h2></b><br>
        <h3>Описание</h3><br>
        Социальная сеть блогеров Yatube - с возможностью регистрации новых пользователей.<br>
        Создание, редактирование новых постов с группой и картинками.<br>
        А так же подпиской на авторов и отслеживание постов только избранных авторов!<br>
        <br><br>
        
        Используемые технологии:<br>
        Python 3.7<br>
        Django 2.2.19</p>
    </article>
  </div>
{% endblock %} 